main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image-container {
  background-image: url(/img/leafs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
}
