@font-face {
  font-family: Norse;
  src: url(/fonts/Norse-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Left Side Image Seciton */
.img-container {
  background-image: url(/img/leafs.jpg);
  width: 40%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 30%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0.75rem 0;
}

.img-container .overlay img {
  width: 20%;
}

.norse {
  font-family: norse, sans-serif;
  font-size: 7.5rem;
  text-shadow: 0px 0px 3px #000000;
  margin: 0;
}

/* Right Side Form Section */
.form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_content {
  padding: 0 5rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: sans-serif;
}

form {
  width: 100%;
  font-family: sans-serif;
  font-size: 1.25rem;
}

form legend {
  width: 100%;
}

.form-row {
  display: flex;
  width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 0 0;
  gap: 5rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-input label {
  margin-bottom: 0.5rem;
  color: #3c4142;
  text-transform: uppercase;
}

.form-input input {
  font-size: 1.25rem;
}

form .interior {
  padding: 2rem 5rem;
  margin: 2rem 0;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
}

.form-container #signup_page input {
  border: solid 1px #e5e7eb;
}

.btn-green {
  color: #fff;
  background-color: #596d48;
  border: 2px solid #596d48;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.6s;
}

.btn-green:hover {
  background-color: #fff;
  color: #596d48;
}

.text_content.bottom {
  padding: 2rem 5rem;
}

.text_content.bottom .green {
  color: #596d48;
}
